<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/login/">Login</router-link> |
    <router-link to="/signin/">Sign in</router-link>
  </nav>
  <router-view />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: darkslategrey;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: lightgreen;
}

nav a.router-link-exact-active {
  color: greenyellow;
}
body {
  background-image: url("~@/assets/guilde.jpg");
}
</style>
