<template>
  <div class="home">
    <MyMap />
  </div>
</template>

<script>
// @ is an alias to /src
import MyMap from "@/components/MyMap.vue";

export default {
  name: "HomeView",
  components: {
    MyMap: MyMap,
  },
};
</script>
