<template>
  <Form action="login" />
</template>

<script>
import UserForm from "@/components/UserForm.vue";

export default {
  name: "LoginView",
  components: {
    Form: UserForm,
  },
};
</script>
