<template>
  <Form action="signin" />
</template>

<script>
import UserForm from "@/components/UserForm.vue";

export default {
  name: "SigninView",
  components: {
    Form: UserForm,
  },
};
</script>
