<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>List of Users : </h1>
    <ul>
        <li th:each ="login : ${users}">
            <span th:utext="${login}"></span>
        </li>
    </ul>
</body>
</html>