<template>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <div class="mb-3 text-light bg-dark">
    <h2>Carte</h2>
    <div class="mb-3 bg-success bg-gradient text-light">
      <div v-if="state.login !== ''">
        <p class="fs-4">INFORMATIONS SUR VOTRE PARTIE</p>
        <p>Bonjour {{ state.login }} !</p>
      </div>
      <p v-else>Connecter vous si vous voulez jouer !</p>
      <p v-if="state.error !== ''">{{ state.error }}</p>
      <template v-if="Object.keys(state.joueur).length !== 0">
        <template v-if="state.joueur.ttl > 0 || state.joueur.ttl == -1">
          <p>Votre position est {{ state.joueur.position }}</p>
          <p v-if="state.joueur.ttl > 0">
            Votre TTL est de {{ state.joueur.ttl }}
          </p>
          <p v-if="state.joueur.ttl == -1">
            Votre TTL est.... a pardon vous êtes invisible
          </p>
          <p>Votre score est de {{ state.joueur.score }}</p>
          <p>Vous êtes à {{ state.joueur.distanceTreasure }} m d'un coffre</p>
        </template>
        <template v-if="state.joueur.ttl == 0">
          <p>Vous étes mort car vous n'avez plus de TTL</p>
        </template>
      </template>
    </div>
  </div>
  <div id="map" class="map"></div>
  <template v-if="$store.state.joueurs != []">
    <div class="bg-dark bg-gradient">
      <p class="text-light fs-3">Lists of players (you appear in red)</p>
      <table class="table text-light table-dark bg-gradient caption-top">
        <thead>
          <th scope="col">ID</th>
          <th scope="col">SCORE</th>
        </thead>
        <tbody class="bg-dark bg-gradient">
          <tr v-for="joueur in $store.getters.getJoueurs" :key="joueur.id">
            <td
              v-bind:class="[
                state.login == joueur.id ? 'text-danger' : 'text-light',
              ]"
            >
              {{ joueur.id }}
            </td>
            <td
              v-bind:class="[
                state.login == joueur.id ? 'text-danger' : 'text-light',
              ]"
            >
              {{ joueur.score }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
</template>

<script>
import "leaflet/dist/leaflet.css";
import { Mymap } from "../utils/map";
// This part resolves an issue where the markers would not appear in webpack
import { Icon } from "leaflet";
import { f } from "../utils/fetch";

import { mapActions } from "vuex";

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

export default {
  name: "MyMap",
  computed: {
    state() {
      return this.$store.state;
    },
  },
  methods: {
    // Procédure de mise à jour de la map
    updateMap: function () {
      // Affichage à la nouvelle position
      //mymap.setView([lat, lng], zoom);
      // La fonction de validation du formulaire renvoie false pour bloquer le rechargement de la page.
      return false;
    },
    ...mapActions(["SET_POSITION_JOUEUR"]),
  },

  mounted() {},

  async beforeMount() {
    setInterval(function () {
      f.getRessources();
    }, 5000);

    Mymap.createMap();
  },
};
</script>

<style scoped>
.map {
  height: 400px;
  width: 100%;
  border: 1px solid;
}
.bg-dark,
.bg-success,
.bg-gradient {
  opacity: 90%;
}
</style>
