<template>
  <form v-bind:id="action" @submit="submit">
    <span>
      <label>Login: </label>
      <input type="text" name="login" />
    </span>
    <span>
      <label>Password: </label>
      <input type="password" id="password" name="password" />
    </span>
    <span>
      <input
        type="submit"
        v-bind:name="action"
        v-bind:value="action"
        @click="submit"
      />
    </span>
  </form>
</template>

<script>
import { f } from "../utils/fetch";
import router from "../router/index";
import store from "../store/index";

export default {
  name: "UserForm",
  props: {
    action: String,
  },
  methods: {
    prevent(e) {
      e.preventDefault();
    },

    submit(ev) {
      ev.preventDefault();

      var login = true;
      var form = document.getElementById("login");

      if (!form) {
        login = false;
        form = document.getElementById("signin");
      }

      const formData = new FormData(form);
      const tab = [];

      for (const pair of formData.entries()) {
        tab.push(pair);
      }
      if (login) {
        f.login(tab[0][1], tab[1][1])
          .then(router.replace({ path: "/" }))
          .catch((err) => (store.error = err));
      } else {
        f.createUser(tab[0][1], tab[1][1])
          .then(
            f.login(tab[0][1], tab[1][1]).then(router.replace({ path: "/" }))
          )
          .catch((err) => (store.error = err));
      }
    },
  },
};
</script>

<style>
form {
  display: inline-flex;
  flex-direction: column;
  border-radius: 0.4em;
  box-shadow: 0em 0em 1em black;
  justify-content: right;
  background-color: black;
  opacity: 85%;
  align-items: flex-end;
  padding: 1em 1em 0em 0em;
}
span {
  font-size: 1.2em;
  color: aliceblue;
  margin: 1em;
}
input {
  font-size: 1.2em;
}
</style>
